/coverage
*.log
*.tgz
.DS_Store
.idea
.temp
.test
.vite_opt_cache
.vscode
docs/.vitepress/dist*
cache
docs/.vitepress/cache
examples-temp
node_modules
pnpm-global
.env.local
.env.*.local

# json
meta.json
public/.DS_Store
